ul#legend {
	margin-top: 5px;
}
ul#legend li { margin: 2px }
ul#legend li label { display: inline }

#legend li { list-style: none }
#legend label { width: auto; }
#legend li.sortable {
    padding-left: 10px;
    padding-right: 10px
}

#legend li.sortable label {
    display: table-cell;
    vertical-align: top;
}
div.legend-color {
    display: table-cell;
}
div.legend-color div {
    margin: 2px;
    width: 18px;
    height: 14px;
    overflow: hidden;
    cursor: move;
}

.resize-hi { border: 1px dotted black }
.drag-hi {
    border: 1px dotted black;
    height: 10px;
    width: 100px;
}

