#query { display: block }
input, textarea { border: 1px solid black }
label[for=series-width] { display:table-row }
label[for=show-legend] { display:table-row }
label[for=legend-cols] { display:table-row }
#add_graph { display: table-row }

ul#legend li { margin: 2px }
ul#legend li label { display: inline }

#graph_box {
    margin-top: 25px;
    padding: 10px
}
#graph_area {
    width: 100%;
    height: 100%
}

#legend { list-style: none }

#legend li.sortable {
    padding-left: 10px;
    padding-right: 10px
}

#legend li.sortable label {
    display: table-cell;
    vertical-align: middle;
}
div.legend-color {
    display: table-cell;
    border: 1px solid #ccc;
}
div.legend-color div {
    margin: 2px;
    width: 18px;
    height: 14px;
    overflow: hidden;
    cursor: move;
}

.resize-hi { border: 1px dotted black }
.drag-hi {
    border: 1px dotted black;
    height: 10px;
    width: 100px;
}

a.preset div { display: none }